body, html {
    height: 100%;
}

body {
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    
}
.square {
    border-style: solid;
}

#container {
    display: grid;
    width: 640px;
    height: 640px;
    border-style: solid;
}
.black {
    background-color: black;
}
button {
    position: fixed;
    top: 20px;
    padding: 10px;
    font-size: 15px;
    border-radius: 10%
}